html {
  font-size: 14px;
}

.dropdown-menu-react {
  position: absolute;
  background: #fff;
  right: 0;
  margin: 0;
  padding: 0;
  width: 12rem;
  top: 3.2rem;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 4px rgba(0, 0, 0, 0.2),
    0 0 12px rgba(255, 255, 255, 0.1);
}

.full-width {
  width: 72%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex.between {
  justify-content: space-between;
}

.app-header {
  font-weight: bold;
  font-size: 30px;
}

.big-bg {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  height: calc(100vh);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.15);
}

input.form-control {
  height: 40px;
  margin-top: 20px;
  width: 400px;
}

.half-width {
  border-radius: 10px;
  width: 70vw;
  height: 70vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.white-bg {
  background: #fff;
}

.error {
  color: red;
}

.button-sm {
  height: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  background-size: contain;
}

.FoolMeData {
  display: flex;
  width: 90%;
  height: 60%;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}
button {
  cursor: pointer;
  margin: 10px;
}
